/* =================================== */
/* Estilizações reaproveitaveis/padrão */
/* =================================== */
*{
    margin: 0px;
    padding: 0px; 
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;

}

:root{
    --color-text-primary: #000;
    --color-text-secondary: #fff;
    --bg-color1: #F84646;
    --bg-color2:#F4F5F7; 
}


html, body{
    width: 100%;
    height: 100%;
}


.flex{ display: flex; }
.grid{ display: grid; }
.block{ display: block;}

/* =================================== */
/* Estilização Header */
/* =================================== */

#hero{ 
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg-header.svg);
    background-repeat: repeat;
    background-size: cover;
    background-position: bottom;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gradient{
    display: none;
}

#hero_content{
    width: 93.70%;
}

.hero_titulo{
    font-weight: 800;
    font-size: 4rem;
    line-height: 5.125rem;
}
.hero_paragrafo{
    margin-top: 2rem;
    font-size: 1.25rem;
    line-height: 2.25rem;
    letter-spacing: 0.2px;

}





/* =================================== */
/* Responsividade */
/* =================================== */
@media screen and (max-width: 1024px) { /* Tablet Comumn*/
    html{
        font-size: 14px;
    }

    #hero{
        background-image: url(../img/bg-header-1024px.svg);
        background-position: center right;
        background-size: cover;
    }
}

@media screen and (max-width: 375px){
     html{
        font-size: 10px;
    }
    #hero{
        position: relative;
    }
    #gradient{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../img/bg-header-mobile.svg);
        z-index: 2;
    }

    #hero{
        background-position-x: 500px;
    }
    #hero_content{
        width: 96.25%;
        z-index: 3;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .hero_titulo,
    .hero_paragrafo{
        text-align: center;
    }

    .hero_paragrafo_span,
    .hero_titulo_span{
        display:  inline;

    }

}



